<div class="tabs-container tabs-desct">
  <ul class="tab-links">

    <li><a href="#tab-features">Specifications</a></li>
    <li><a href="#tab-reviews">Shipping</a></li>
    <li><a href="#tab-custom">Warranty</a></li>
  </ul>

  <div class="tab-content">
   



    <div id="tab-features" class="tab active">
      <li>Keyboard and Trackpad compatible with iOS and iPadOS</li>
    <li>Lightweight and travel friendly</li>
    <li>Up to 3 months of battery life per charge</li>
    <li>180° Fold Back + 360° rotation for any viewing angle</li>
    <li>Connects via Bluetooth 5.0</li>
    <li>Adjustable backlit keys with 7 different color options</li>
    <li>Features a magnetic holder for the Apple Pencil</li>
    <li>Sleek, modern design</li>
    </div>

    <div id="tab-reviews" class="tab">
      <p>Once you've confirmed your order, it will be swiftly forwarded to our dedicated shipping team for processing. As soon as your order is dispatched, you'll receive an email containing a tracking number to monitor its progress.</p>

    <p>We utilize a range of reputable shipping carriers for our orders, including Yunexpress, USPS, DHL, FedEx, Aramex, and local couriers in your region.</p>

    <p><strong>Current Processing Time:</strong> Typically, it takes us 1-3 business days to process your order before it's ready for shipping.</p>

    <p><strong>Standard Shipping Delivery Estimates:</strong></p>
    <ul>
        <li>North America: Expect delivery within 4-8 business days.</li>
        <li>Mainland Europe &amp; UK: Anticipate delivery within 5-10 business days.</li>
        <li>Oceania: Estimated delivery time is 5-10 business days.</li>
        <li>For other countries, deliveries generally arrive within 5-15 business days.</li>
    </ul>

    <p>We are delighted to offer complimentary international shipping with every purchase you make.</p>
    </div>

    <div id="tab-custom" class="tab">
       <p>We are delighted to provide a 1-year warranty and a 30-day hassle-free return policy for all our products.</p>

    <p>If you need to initiate a return or file a warranty claim, please don't hesitate to reach out to us at <a href="mailto:support@izytools.com">support@izytools.com</a>. Rest assured, we are committed to responding to your request within 24 hours.</p>
    </div>
  </div>
</div>



<style>
  image-with-text.image-with-text .container {
    padding-left: 0;
    padding-right: 0;
}
  
.mainTT {
    padding: 40px 0px;
}
.wrapperTT {
    margin: auto;
    width: 650px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper2TT {
    margin: 25px auto 0px auto;
    width: 650px;
    max-width: 100%;
}
.headingTT {
    padding: 0px 0px 8px 0px;
    color: #626262;
    cursor: pointer;position:relative;
    font-weight: 600;
    text-transform: uppercase;    
}.textTT:not(.active){display:none}
.headingTT::after{
  content:'';
  width:0px;display: block;
  height:2px;transition: all 0.3s ease;
  background:black;margin:auto;
}
.headingTT.active {
    color: #000000; 
}.headingTT.active::after{
  width:100%
}

@media (max-width: 900px){
  .accordionProd {  
  cursor: pointer;
  padding: 18px 0 18px 0;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  text-align: left;
  outline: none; 
  transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
  font-size:18px;
  color:#000;
    font-weight:600;
    font-family: var(--font-heading-family);
} 
.NEW-custom-svgTT{
  transition: 0.2s ease;width: 1.5em;
    height: auto;
} 
  .accordionProd.active{
    margin-bottom:10px;
  }
.accordionProd.active .NEW-custom-svgTT {
      transform: rotate(0.25turn); 
}

.panelProd {  
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}.panelProd div.marGin{
  margin-top:10px
}.mainTT { 
    padding-top: 0;
}
}
</style>



  <div class="container mobileTT" style="display:none">


 
<button class="accordionProd headingHere"><span>Specifications</span>
<svg class="NEW-custom-svgTT" xmlns="http://www.w3.org/2000/svg" fill="#000000" width="30px" height="30px" viewBox="0 0 32 32"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M18.629 15.997l-7.083-7.081L13.462 7l8.997 8.997L13.457 25l-1.916-1.916z"></path></g></svg>   
</button>
<div class="panelProd">
<li>Keyboard and Trackpad compatible with iOS and iPadOS</li>
    <li>Lightweight and travel friendly</li>
    <li>Up to 3 months of battery life per charge</li>
    <li>180° Fold Back + 360° rotation for any viewing angle</li>
    <li>Connects via Bluetooth 5.0</li>
    <li>Adjustable backlit keys with 7 different color options</li>
    <li>Features a magnetic holder for the Apple Pencil</li>
    <li>Sleek, modern design</li>
 </div>

<button class="accordionProd headingHere"><span>Shipping </span>
<svg class="NEW-custom-svgTT" xmlns="http://www.w3.org/2000/svg" fill="#000000" width="30px" height="30px" viewBox="0 0 32 32"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M18.629 15.997l-7.083-7.081L13.462 7l8.997 8.997L13.457 25l-1.916-1.916z"></path></g></svg>   
</button>
<div class="panelProd">
<p>Once you've confirmed your order, it will be swiftly forwarded to our dedicated shipping team for processing. As soon as your order is dispatched, you'll receive an email containing a tracking number to monitor its progress.</p>

    <p>We utilize a range of reputable shipping carriers for our orders, including Yunexpress, USPS, DHL, FedEx, Aramex, and local couriers in your region.</p>

    <p><strong>Current Processing Time:</strong> Typically, it takes us 1-3 business days to process your order before it's ready for shipping.</p>

    <p><strong>Standard Shipping Delivery Estimates:</strong></p>
    <ul>
        <li>North America: Expect delivery within 4-8 business days.</li>
        <li>Mainland Europe &amp; UK: Anticipate delivery within 5-10 business days.</li>
        <li>Oceania: Estimated delivery time is 5-10 business days.</li>
        <li>For other countries, deliveries generally arrive within 5-15 business days.</li>
    </ul>

    <p>We are delighted to offer complimentary international shipping with every purchase you make.</p>
 </div>
 
<button class="accordionProd headingHere"><span>Warranty &amp; Returns</span>
<svg class="NEW-custom-svgTT" xmlns="http://www.w3.org/2000/svg" fill="#000000" width="30px" height="30px" viewBox="0 0 32 32"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M18.629 15.997l-7.083-7.081L13.462 7l8.997 8.997L13.457 25l-1.916-1.916z"></path></g></svg>   
</button>
<div class="panelProd">
 <p>We are delighted to provide a 1-year warranty and a 30-day hassle-free return policy for all our products.</p>

    <p>If you need to initiate a return or file a warranty claim, please don't hesitate to reach out to us at <a href="mailto:support@izytools.com">support@izytools.com</a>. Rest assured, we are committed to responding to your request within 24 hours.</p>
    
 </div>
    
    
  </div>



<style>
/* Стили для контейнера табов */
.tabs-container {
  width: 80%; /* Ширина контейнера, можно настроить по вашему желанию */
  margin: 0 auto; /* Центрирование контейнера по горизонтали */
  padding: 20px; /* Внутренний отступ */
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Стили для табов */
.tab-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between; /* Распределение табов равномерно */
  background-color: #ddd;
  border-radius: 5px 5px 0 0;
}

.tab-links li {
  flex: 1;
  text-align: center;
  padding: 10px 0;
}

.tab-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.tab-links a:hover {
  background-color: #f5f5f5;
}

.tab-content .tab {
  display: none;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
}

.tab-content .active {
  display: block;
}
</style>

<script>
// JavaScript для переключения табов
document.addEventListener('DOMContentLoaded', function () {
  const tabLinks = document.querySelectorAll('.tab-links li a');
  const tabContents = document.querySelectorAll('.tab-content .tab');

  tabLinks.forEach(function (link) {
    link.addEventListener('click', function (e) {
      e.preventDefault();
      const targetId = this.getAttribute('href').substring(1);
      tabContents.forEach(function (tab) {
        tab.classList.remove('active');
      });
      document.getElementById(targetId).classList.add('active');
    });
  });
});
</script>





<style>
  image-with-text.image-with-text .container {
    padding-left: 0;
    padding-right: 0;
}
  
.mainTT {
    padding: 40px 0px;
}
.wrapperTT {
    margin: auto;
    width: 650px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper2TT {
    margin: 25px auto 0px auto;
    width: 650px;
    max-width: 100%;
}
.headingTT {
    padding: 0px 0px 8px 0px;
    color: #626262;
    cursor: pointer;position:relative;
    font-weight: 600;
    text-transform: uppercase;    
}.textTT:not(.active){display:none}
.headingTT::after{
  content:'';
  width:0px;display: block;
  height:2px;transition: all 0.3s ease;
  background:black;margin:auto;
}
.headingTT.active {
    color: #000000; 
}.headingTT.active::after{
  width:100%
}

@media (max-width: 900px){
  .desktopTT{
    display:none !important
  }
.wrapperTT {
    flex-direction: column;
    align-items: flex-start;
}


  .accordionProd {  
  cursor: pointer;
  padding: 18px 0 18px 0;
  width: 100%;
    border:none;
  border-bottom: 1px solid #eeeeee;
  text-align: left;
  outline: none; 
  transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:none;
    
} 
.NEW-custom-svgTT{
  transition: 0.2s ease;width: 1.5em;
    height: auto;
} 
.accordionProd.active .NEW-custom-svgTT {
      transform: rotate(0.25turn); 
}

.panelProd {  
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}.panelProd div.marGin{
  margin-top:10px
}.mainTT { 
    padding-top: 0;
}
}
</style>


<script>

  var acc = document.getElementsByClassName("accordionProd");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
<style>

   .tabs-desct{
     display:block!important;
   }
  .mobileTT{
  display:none !important;
}
@media (max-width:575px){
  .tabs-desct{
    display:none!important
}
  
  .mobileTT{
  display:block!important;
      padding: 0 1.5rem;
}

}
</style>

{% schema %}
  {
    "name": "TabsSection",
    "settings": [],
    "presets" : [
      {
        "name" : "Tabs Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}